@model IEnumerable<EntityLayer.Concrete.Projeler>
@{
    ViewData["Title"] = "Detaylar";
    Layout = "~/Views/Shared/_BloglarLayout.cshtml";
}
<!DOCTYPE html>
<html lang="zxx">
<body>
	<section class="banner-bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
					@foreach(var x in Model){
					<div class="blog-grid-top">
						<div class="b-grid-top">
							<div class="blog_info_left_grid">		
									<img src="@x.ProjeBüyükResim" class="img-fluid" alt="">
							</div>
							<div class="blog-info-middle">
								<ul>
									<li class="bg-white">										
											<i class="far fa-calendar-alt"></i> @(((DateTime)x.ProjeTarihi).ToString("dd-MMMM-yyyy"))
									</li>
									<li class="bg-white">										
											<i class="far fa-thumbs-up"></i>   0 Beğeni
									</li>
									<li class="bg-white">			
											<i class="far fa-comment"></i> 0 Yorum
									</li>	
								</ul>
							</div>
						</div>

						<h3>
							@x.ProjeAdi
						</h3>
						@Html.Raw(@x.ProjeAciklama)
					</div>}
				</div>
				<!--//left-->
				<!--right-->
				<aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
					<div class="right-blog-info text-left">
						@await Html.PartialAsync("~/Views/Aboneler/AboneOl.cshtml")
                        @await Component.InvokeAsync("YazarSonBlog")
					</div>
				</aside>
			</div>
		</div>
	</section>
</body>

</html>


