@using EntityLayer.Concrete
@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<EntityLayer.Concrete.Blog>
@{
    ViewData["Title"] = "Bloglarım";
    Layout = "~/Views/Shared/_BloglarLayout.cshtml";
}
<section class="main-content-w3layouts-agileits">
		<div class="container">
			<h3 class="tittle">Bloglar</h3>
			<div class="inner-sec">
				<!--left-->
				<div class="left-blog-info-w3layouts-agileits text-left">
					<div class="row">	
						@foreach(var x in Model){
						<div class="col-lg-4 card">
								<img src="@x.BlogUfakResim" class="card-img-top img-fluid" alt="">
							<div class="card-body">
								<ul class="blog-icons my-4">
									<li>
										<a href="#">
											<i class="far fa-calendar-alt"></i>@(((DateTime)x.BlogOlusturmaTarihi).ToString("dd-MMMM-yyyy"))</a>
									</li>
									<li class="mx-2">
										<a href="#">
											<i class="far fa-comment"></i>0</a>
									</li>
									<li>
										<a href="#">
											<i class="fas fa-list"></i>@x.kategori.KategoriAd</a>
									</li>
								</ul>
								<h5 class="card-title">
									@x.BlogBasligi
								</h5>
								<p class="card-text mb-3">@x.BlogOzet</p>
								<a href="/Blog/Detaylar/@x.BlogID" class="btn btn-primary read-m">Devamını Oku</a>
								<br>								
							</div>
						</div>}						
					</div>
					<!--//left-->
				</div>
			</div>
@Html.PagedListPager((IPagedList)Model,page=>Url.Action("Bloglarım", new{page}))
		</div>
	</section>